---
layout: default
---
<div class="home">
	<section>
		<h2 class="smallcap">文章</h2>
		<ul class="post-list">
			{% for post in site.posts limit:10 %}
			<li>
				<span>{{ post.date | date: "%Y-%m-%d" }}</span>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.post_title }}</a>
			</li>
			{% endfor %}
		</ul>
		<p><a href="{{ "/archives/" | prepend: site.baseurl }}">查看更多...</a></p>
	</section>
</div>